/*!
  Admin sidebar
  11-02-2021
 */

/* .dashboard {
    overflow-x: hidden;
 } */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville&family=DM+Sans&family=Fira+Sans:wght@200&display=swap");

ul#accordionSidebar {
  background-color: #94939317;
  border-color: #94939317;
  border-right-color: hsla(0deg 4% 74% / 23%);
  border-style: solid;
  /* overflow: hidden; */
  /* overflow-y: scroll; */
  /* height: calc(100vh - 100px); */
}

.sidebar {
  padding-right: 0 !important;
  width: 7.5rem;
  min-height: 100vh;
}

.sidebar .nav-item {
  position: relative;
}

.sidenav-img {
  width: 50%;
  height: 60%;
}

.sidenav-icon {
  font-size: large;
  color: #3b489e;
}

.img-zoom:hover {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2);
}

.sidebar .nav-item:last-child {
  margin-bottom: 1rem;
}

.sidebar .nav-item .nav-link {
  text-align: center;
  padding: 0.75rem 1rem;
  width: 6.5rem;
}

.sidebar .nav-item .nav-link span {
  font-size: 0.65rem;
  display: block;
}

.sidebar .nav-item.active .nav-link {
  font-weight: 700;
}

.sidebar .nav-item .collapse {
  position: absolute;
  left: calc(6.5rem + 1.5rem / 2);
  z-index: 1;
  top: 2px;
}

.sidebar .nav-item .collapse .collapse-inner {
  border-radius: 0.35rem;
  /* box-shadow: 0 0.15rem 1.75rem 0 rgba(9, 25, 209, 0.15); */
}

.sidebar .nav-item .collapsing {
  display: none;
  transition: none;
}

.sidebar .nav-item .collapse .collapse-inner,
.sidebar .nav-item .collapsing .collapse-inner {
  padding: 0.5rem 0;
  min-width: 10rem;
  font-size: 0.85rem;
  margin: 0 0 1rem 0;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-header,
.sidebar .nav-item .collapsing .collapse-inner .collapse-header {
  margin: 0;
  white-space: nowrap;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.65rem;
  color: #8d8d8f;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  display: block;
  color: #3a3b45;
  text-decoration: none;
  border-radius: 0.35rem;
  white-space: nowrap;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
  background-color: #d2d3d6;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:active {
  background-color: #c4c5c7;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
  color: #98adec;
  font-weight: 700;
}

.sidebar #sidebarToggle {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.sidebar #sidebarToggle::after {
  font-weight: 900;
  content: "\f104";
  font-family: "Font Awesome 5 Free", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-right: 0.1rem;
}

.sidebar #sidebarToggle:hover {
  text-decoration: none;
}

.sidebar #sidebarToggle:focus {
  outline: none;
}

.sidebar.toggled {
  width: 0 !important;
  overflow: hidden;
}

.sidebar.toggled #sidebarToggle::after {
  content: "\f105";
  font-family: "Font Awesome 5 Free", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-left: 0.25rem;
}

.sidebar.toggled .sidebar-card {
  display: none;
}

.sidebar .sidebar-brand {
  height: 4.375rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  padding: 1.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  z-index: 1;
}

.sidebar .sidebar-brand .sidebar-brand-icon i {
  font-size: 2rem;
}

.sidebar .sidebar-brand .sidebar-brand-text {
  display: none;
}

.sidebar hr.sidebar-divider {
  margin: 0 0.25rem 0.5rem;
}

.sidebar .sidebar-heading {
  text-align: center;
  padding: 0 1rem;
  font-weight: 800;
  font-size: 0.65rem;
}

.sidebar .sidebar-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.875rem;
  border-radius: 0.35rem;
  color: rgba(151, 149, 149, 0.8);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar .sidebar-card .sidebar-card-illustration {
  height: 3rem;
  display: block;
}

.sidebar .sidebar-card .sidebar-card-title {
  font-weight: bold;
}

.sidebar .sidebar-card p {
  font-size: 0.75rem;
  color: rgba(179, 179, 179, 0.5);
}

@media (min-width: 768px) {
  .sidebar {
    width: 14rem !important;
  }

  .sidebar .nav-item .collapse {
    position: relative;
    left: 0;
    z-index: 1;
    top: 0;
    -webkit-animation: none;
    animation: none;
  }

  .sidebar .nav-item .collapse .collapse-inner {
    border-radius: 0;
    box-shadow: none;
  }

  .sidebar .nav-item .collapsing {
    display: block;
    transition: height 0.15s ease;
  }

  .sidebar .nav-item .collapse,
  .sidebar .nav-item .collapsing {
    margin: 0 1rem;
  }

  .sidebar .nav-item .nav-link {
    display: block;
    text-align: left;
    padding: 1rem;
    width: 14rem;
  }

  .sidebar .nav-item .nav-link i {
    font-size: 0.85rem;
    margin-right: 0.25rem;
  }

  .sidebar .nav-item .nav-link span {
    font-size: 0.95rem;
    display: inline;
  }

  .sidebar .nav-item .nav-link[data-toggle="collapse"]::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    content: "\f107";
    font-family: "Font Awesome 5 Free", "Courier New", Courier, monospace;
  }

  .sidebar .nav-item .nav-link[data-toggle="collapse"].collapsed::after {
    content: "\f105";
  }

  .sidebar .sidebar-brand .sidebar-brand-icon i {
    font-size: 2rem;
  }

  .sidebar .sidebar-brand .sidebar-brand-text {
    display: inline;
  }

  .sidebar .sidebar-heading {
    text-align: left;
  }

  .sidebar.toggled {
    overflow: visible;
    width: 7.5rem !important;
  }

  .sidebar.toggled .nav-item .collapse {
    position: absolute;
    left: calc(6.5rem + 1.5rem / 2);
    z-index: 1;
    top: 2px;
    -webkit-animation-name: growIn;
    animation-name: growIn;
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
    -webkit-animation-timing-function: transform
        cubic-bezier(0.18, 1.25, 0.4, 1),
      opacity cubic-bezier(0, 1, 0.4, 1);
    animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1),
      opacity cubic-bezier(0, 1, 0.4, 1);
  }

  .sidebar.toggled .nav-item .collapse .collapse-inner {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    border-radius: 0.35rem;
  }

  .sidebar.toggled .nav-item .collapsing {
    display: none;
    transition: none;
  }

  .sidebar.toggled .nav-item .collapse,
  .sidebar.toggled .nav-item .collapsing {
    margin: 0;
  }

  .sidebar.toggled .nav-item:last-child {
    margin-bottom: 1rem;
  }

  .sidebar.toggled .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 6.5rem;
  }

  .sidebar.toggled .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
  }

  .sidebar.toggled .nav-item .nav-link i {
    margin-right: 0;
    font-size: 1.65rem;
  }

  .sidebar.toggled .nav-item .nav-link[data-toggle="collapse"]::after {
    display: none;
  }

  .sidebar.toggled .sidebar-brand .sidebar-brand-icon i {
    font-size: 2rem;
  }

  .sidebar.toggled .sidebar-brand .sidebar-brand-text {
    display: none;
  }

  .sidebar.toggled .sidebar-heading {
    text-align: center;
  }

  /* .nav-item .collapse{ display: none; }
    .nav-item:hover .nav-link{ color: #fff;  }
    .nav-item:hover .collapse{ display: block; }
    .nav-item .collapse{ margin-top:0; } */
}

@media (max-width: 992px) {
  .pull-down {
    margin: 3rem 0 0.5rem 0;
  }
}

.sidebar-dark .sidebar-brand {
  color: #fff;
}

.sidebar-dark hr.sidebar-divider {
  border-top: 1px solid rgba(154, 165, 226, 0.15);
}

.sidebar-dark .sidebar-heading {
  color: rgba(255, 255, 255, 0.4);
}

.sidebar-dark .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.sidebar-dark .nav-item .nav-link i {
  color: rgba(255, 255, 255, 0.3);
}

.sidebar-dark .nav-item .nav-link:active,
.sidebar-dark .nav-item .nav-link:focus,
.sidebar-dark .nav-item .nav-link:hover {
  color: #fff;
}

.sidebar-dark .nav-item .nav-link:active i,
.sidebar-dark .nav-item .nav-link:focus i,
.sidebar-dark .nav-item .nav-link:hover i {
  color: #fff;
}

.sidebar-dark .nav-item .nav-link[data-toggle="collapse"]::after {
  color: rgba(255, 255, 255, 0.5);
}

.sidebar-dark .nav-item.active .nav-link {
  color: #fff;
}

.sidebar-dark .nav-item.active .nav-link i {
  color: #fff;
}

.sidebar-dark #sidebarToggle {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-dark #sidebarToggle::after {
  color: rgba(255, 255, 255, 0.5);
}

.sidebar-dark #sidebarToggle:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.sidebar-dark.toggled #sidebarToggle::after {
  color: rgba(255, 255, 255, 0.5);
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#page-content-wrapper {
  min-width: 100vw;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
    padding-left: 70px;
  }
}

.container-fluid {
  margin-top: 1rem;
  overflow-y: scroll;
  height: calc(100vh - 150px);
  z-index: 1;
}

/* .d-flex.toggled{
     margin-left: -14rem;
 } */
.sidebar .nav-item .dropdown-menu .dropdown-header {
  margin: 0;
  white-space: nowrap;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.65rem;
  color: #8d8d8f;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sidebar .sidebar-menu .menu-icon .custom-item {
  display: block;
  color: #3a3b45;
  text-decoration: none;
  white-space: nowrap;
}

.custom-item:hover {
  background-color: rgb(204, 204, 204);
}

/* .custom-item {
     display: block;
     padding: .25rem 1.5rem;
     clear: both;
     font-weight: 400;
     color: #212529;
     text-align: inherit;
     white-space: nowrap;
     background-color: transparent;
     border: 0;
 } */

/* 24-03-21 */
.user-card-full {
  overflow: hidden;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px;
}

.m-r-0 {
  margin-right: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
  background: linear-gradient(to right, #f15a2d, #fac9ba);
}

/* .user-profile {
     padding: 20px 0
 } */

.card-block {
  padding: 1.25rem;
}

.m-b-25 {
  margin-bottom: 25px;
}

.img-radius {
  border-radius: 5px;
}

h6 {
  font-size: 14px;
}

.card .card-block p {
  line-height: 25px;
}

@media only screen and (min-width: 1400px) {
  p {
    font-size: 14px;
  }
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3 !important;
}

.f-w-600 {
  font-weight: 600;
}

.m-t-40 {
  margin-top: 20px;
}

.user-card-full .social-link li {
  display: inline-block;
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pageLength li span {
  color: #3d3575;
  text-shadow: 0px 0px;
  font-weight: 500;
}

.pageLength {
  margin-top: 10px;
}

.pageLength li {
  list-style-type: none;
  /* margin: 0px 15px; */
  font-size: 18px;
  margin-right: 20px;
}

.pageLength ul li.active {
  color: #5649cb;
  text-decoration: none;
  font-weight: bold;
}

.pageLength li:hover {
  color: #5649cb;
  cursor: pointer;
}

.pageSize_disabled {
  pointer-events: none;
  /* opacity: 0.4; */
}

.pagination_table {
  overflow-x: hidden !important;
}

.show_element {
  font-style: italic;
  color: darkgray;
  margin-left: 2px;
}

html {
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f5f5f5;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c5c4c4b0;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}
textarea::-webkit-scrollbar {
  width: 9px;
  height: 100%;
}
.MuiPaper-root::-webkit-scrollbar {
  width: 6px !important;
  height: 100%;
}

/*---------------------------------------------------------------------------------------------*/

.table thead th,
tr,
h4,
.sidebar {
  font-family: "Montserrat", "Times New Roman", Times, serif;
  font-size: 13px !important;
  line-height: 1;
  letter-spacing: 0.2px;
  padding: 0.75rem 0.45rem;
  padding-left: 5px;
}

* {
  font-family: "Montserrat", "Times New Roman", Times, serif;
}

.input-box {
  background-color: transparent;
  border: 0;
  font-size: 18px;
  outline: none;
  padding: 5px;
  width: 300px;
}

.page-container {
  min-height: 100vh;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.header {
  border-bottom: 1px solid rgb(224, 221, 221);
}

.header .header-container .nav-left > div > i {
  color: #72777a;
  padding-left: 15px;
  padding-top: 10px;
}

.nav-right {
  float: right;
}

.nav-left {
  float: left;
  margin-left: 15px;
}

.nav-right > div > i {
  color: #72777a;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-left > div > i {
  color: #72777a;
  padding-top: 10px;
  position: fixed;
}

.nav-left .search {
  padding-left: 0;
}

.nav-right > div > img {
  width: 2.2rem;
  border-radius: 20px;
  background-color: burlywood;
}

.nav-right .profile-name {
  padding-top: 5px;
  font-family: "Montserrat", "Times New Roman", Times, serif;
}

.nav-right .image {
  text-align: right;
  padding-top: 3px;
}

.sb-1 {
  border: none;
  max-width: 70px !important;
  bottom: 0;
  overflow: hidden;
  position: fixed !important;
  top: 0;
  background-color: #f3f3f3;
  z-index: 1;
  padding-top: 0px;
}

.menu-name {
  display: none;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  color: #000000;
  margin-left: 50px;
  z-index: -1;
  width: 100%;
}

.bottom-border {
  flex-direction: column;
  width: 224px !important;
  flex-wrap: wrap;
  justify-content: center;
  display: block;
  position: absolute;
  margin-top: 0px;
  margin-bottom: 0px;
}

.menu-nav {
  padding: 0 0 7px 2px;
}

.menu-icon:hover .menu-name > span {
  text-decoration: none;
  font-weight: 500;
  color: #000000;
  transition: all 0.15s ease-in-out;
}

.menu-icon .link {
  text-decoration: none;
}

.nav-bar {
  list-style-type: none;
  padding-left: 0px;
}

.sb-1-view {
  max-width: 70% !important;
  display: block;
  position: absolute;
  z-index: 1;
  padding-right: 18px;
  padding-left: 0px;
  padding-top: 0px;
  background-color: #f3f3f3;
  transition: all 0.8s ease-in-out;
}

.sb-1-view .menu-name {
  display: block;
  position: absolute;
  z-index: 1;
  transition: all 0.8s ease-in-out;
}

.sb-1-view .menu-icon {
  padding-right: 187px;
}

.sb-1-view,
.sb-1-view .menu-name,
.sb-1-view .menu-icon {
  /* display: flex; */
  justify-content: flex-start;
}

.sb-1-view > div > img {
  display: none;
}

.sidebar-menu {
  /* padding-left: 4px; */
  margin-top: 0rem;
}

.focus {
  background-color: #fc3f06;
  /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.sb-1-view .focus {
  background: linear-gradient(
    to right,
    #f05a28 0%,
    #f05a28 30%,
    #f4ddd6 30%,
    #f4ddd6 100%
  );
}

.sidebar-menu img {
  height: 18px;
  width: 18px;
}

.menu-logo {
  padding-top: 30px;
}

.menu-icon {
  /* margin-top: 30px; */
  margin-top: 0px;
  height: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
}

.nb-1 {
  width: 100%;
  height: 10%;
  margin-bottom: 0px !important;
}

.cf-1 {
  margin: 0 !important;
}

.container-fluid > h4 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

.table-dark {
  background-color: #e0e1ea !important;
  color: #3b489e !important;
  text-transform: uppercase;
  font-size: 13px !important;
}

/* .cf-1 .row {
   background-color: #ffffff;
 } */

.table-border {
  padding: 0px 20px 0px 20px !important;
  margin-bottom: 20px !important;
  height: inherit;
  background-color: white;
}

.table-border > h4 {
  font-size: 20px;
}

.dropdown-icon {
  display: none;
  position: relative;
  background-color: #f2f2f2;
  min-width: 160px;
}

.dropdown-icon > a {
  text-decoration: none;
}

/* .menu-icon:hover .dropdown-icon {
   display: block;
   cursor: pointer;
   margin-left: 30px;
 } */
.user-profile {
  color: #000000;
}

.sb-hover:hover .component-hover {
  position: fixed;
}

.mT-30 .radio,
.mc-3 .radio,
.form-row .radio {
  position: relative;
  z-index: auto;
}

.jodit-placeholder {
  display: none !important;
}

.pagination .active div {
  border: 1px solid #979797;
  background-color: white !important;
  border-radius: 2px;
  color: #e0dddd;
}

.pagination .page-item div {
  border: none !important;
  color: #818181;
}

.page-item {
  cursor: pointer !important;
}

.table-border-cr {
  border: 0.25px solid rgb(224, 221, 221);
  border-radius: 3px;
  padding: 60px !important;
  padding-top: 20px !important;
  padding-left: 20px !important;
  margin-bottom: 20px !important;
  height: inherit;
  background-color: white;
}

.table-border-process {
  border: 0.25px solid rgb(224, 221, 221);
  border-radius: 3px;
  padding: 20px !important;
  /* padding-top: 20px !important; */
  /* padding-left: 20px !important; */
  margin-bottom: 20px !important;
  height: inherit;
  background-color: white;
}

.bgc-white,
.bgcH-white:hover {
  background-color: #ffffff !important;
  height: auto !important;
  width: auto;
}

/* main, nav, section {
   display: block;
 } */

.c-grey-900,
.cH-grey-900:hover {
  color: #313435 !important;
}

.lable-text {
  width: 90px !important;
  height: 14px !important;
  padding: 1.35rem 0px 0px 4rem !important;
  font-weight: 400 !important;
  font-size: 13px !important;
  font-family: "Montserrat", "Times New Roman", Times, serif !important;
}

.min-pg {
  height: 38px !important;
  padding: 6px 0px 0px 13px !important;
  width: 6rem !important;
  font-weight: 400 !important;
  font-size: 13px !important;
  font-family: "Montserrat", "Times New Roman", Times, serif !important;
  line-height: 47px !important;
}

.form-label-row {
  margin-left: 2rem;
  margin-right: 4rem;
  margin-top: 1rem;
}

.form-label-select {
  padding: 0.45rem 0.85rem;
  margin-left: 0.2rem;
  margin-right: 4rem;
}

.qualification {
  padding: 0.45rem 0.85rem;
  margin-left: 0.2rem;
  margin-right: 0rem !important;
}

.form-label {
  padding: 0.4rem 0.75rem;
}

.mb-3 {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}

.qno-itr {
  margin-bottom: 0rem !important;
  margin-top: 1rem !important;
}

.mc-3 {
  margin-bottom: 1rem !important;
  padding-top: 25px !important;
  padding-right: 5px !important;
}

.mT-30 {
  margin-top: 30px !important;
  margin-left: 20px !important;
}

.email-app .email-wrapper .email-content.no-inbox-view {
  width: 100%;
}

.card-header-new {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0.5%;
  background-color: #ffffff;
  /* border: 1px solid rgb(224, 221, 221); */
  color: #111111;
  height: 65px;
  vertical-align: -webkit-baseline-middle;
  border-radius: 2px;
  font-weight: 600;
  white-space: nowrap;
}

.card-header-new > span {
  vertical-align: -webkit-baseline-middle;
  font-size: 30px;
  font-weight: 400;
  font-family: "Baskervville", serif;
}

.card-header-new > div > div > span {
  vertical-align: -webkit-baseline-middle;
  font-size: 30px;
  font-weight: 400;
  font-family: "Baskervville", serif;
}

.card-header-new > span > div > div > div > button {
  vertical-align: -webkit-baseline-middle;
}

.form-control-new {
  display: block;
  width: 30% !important;
  padding: 0.4rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

.form-control-row {
  display: block;
  width: 90% !important;
  padding: 0.4rem 0.75rem;
  margin-left: 2.2rem;
  margin-right: 4rem;
  /* margin-top: 1rem; */
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

.form-label-rows {
  margin-left: 1rem;
  margin-right: 4rem;
  margin-top: 1rem;
}

.form-control-select {
  display: block;
  width: 250px;
  padding: 0.45rem 0.85rem;
  margin-left: 0.5rem;
  margin-right: 4rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

.header-margin {
  margin-top: 0px;
  padding-top: 10px;
  background-color: #f9fafb;
}

.header-button {
  float: right;
}

.ch-1 {
  margin-bottom: 10px;
}

.fa-filter,
.dropdown-toggle {
  color: #f15a2d;
}

.fa-trash-o {
  color: red;
}

.fa-paper-plane {
  color: green;
}

.badge {
  height: 6px;
  line-height: 0 !important;
  margin-top: 10px;
}

.show-result {
  height: 20px;
  font-size: smaller !important;
  font-weight: bold !important;
  border-radius: 3px;
  border: none;
}

/* Multi-select-dropDown */
.css-g1d714-ValueContainer {
  margin-left: 20px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* padding: 2px 60px !important; */
  width: 200px !important;
  -webkit-overflow-scrolling: touch;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.css-1s2u09g-control {
  width: 250px;
  margin-left: 6px;
  position: fixed;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 38px;
  outline: 0 !important;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  box-sizing: border-box;
}

/* for model popup */
.modals {
  position: fixed;
  top: 35px;
  left: 60px;
  z-index: 5;
  display: none;
  width: 80%;
  height: 94%;
  overflow: hidden;
  outline: 0;
}

.form-control-mini {
  display: block;
  width: 90px;
  padding: 0.95rem 0.85rem 0 0rem;
  margin-bottom: 5px;
  margin-right: 10px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.5;
  color: #3b489e;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-bottom: 1.5px solid black;
  outline: none;
}

.exam-model {
  border-bottom: 1.5px solid black;
  outline: none;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
}

.name {
  display: block;
  width: 517px;
  padding: 0.95rem 0.85rem 0 0rem;
  margin-right: 2rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.5;
  color: #3b489e;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-bottom: 1.5px solid black;
  outline: none;
}

.multi-select {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1.5px solid black;
  width: 67%;
  border-radius: 0px;
}

.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
}

/* .age{
   display: block;
   width: 20%;
   padding: 0.25rem 0.85rem;
   margin-right: 2rem;
   margin-left: 7px;
   font-size: 0.875rem;
   font-weight: 400;
   line-height: .5;
   color: #212529;
   background-color: #fff;
   background-clip: padding-box;
   border: none;
   border-bottom: 1.5px solid black;
   outline: none;
 } */
.form-control-mini-1 {
  display: block;
  width: 210px;
  height: 40px;
  /* padding: 0.95rem 0.85rem 0 0.85rem;
   padding-right: 2rem;
   margin-left: 7px; */
  padding-top: 19px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.5;
  color: #3b489e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border: none;
  border-bottom: 1.5px solid black;
  outline: none;
  margin-left: 2 !important;
}

.modal-dialogs {
  width: 776px !important;
  margin-left: 306px;
  height: 300px !important;
  margin-top: 25px;
}

.setting-title {
  font-size: 30px;
  font-weight: 400;
  color: #3b489e;
  font-family: "Baskervville", "Times New Roman", Times, serif;
}

.user-header {
  font-size: 30px;
  font-weight: 400;
  color: white;
  font-family: "Baskervville", "Times New Roman", Times, serif;
}

.card-setting {
  position: relative;
  padding: 15px;
  width: 250px;
  margin-left: -420px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid rgba(39, 39, 39, 0.125);
  box-shadow: 0px 1px 2px 1px darkgrey;
  border-radius: 0.5rem;
}

.setting-header {
  width: 250px;
  margin-left: -360px;
  margin-top: 40px;
}

.helper {
  color: red !important;
  font-weight: 500;
  font-size: smaller;
  padding-left: 8px;
}

.age-in {
  margin-right: 38px !important;
}

.helper-setting {
  padding-left: 187px;
  margin-right: 44rem;
  margin-top: -15px;
}

.helper-hsc {
  padding-left: 44rem;
  margin-top: -35px;
}

.admin-profile:hover {
  text-decoration: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ba68c8;
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #682773;
}

.profile-button:focus {
  background: #682773;
  box-shadow: none;
}

.profile-button:active {
  background: #682773;
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

.labels {
  font-size: 11px;
}

.add-experience:hover {
  background: #ba68c8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #ba68c8;
}

.font-weight-bold-admin {
  color: rgb(92, 86, 172);
  margin-top: 8px;
}

.edit-admin-profile:hover {
  cursor: pointer;
}

.custom-file-label::after {
  background-color: #3b489e !important;
  color: white !important;
}

.btn-primary {
  background-color: #3b489e !important;
  border-color: #3b489e !important;
}

.img-thumbnail {
  width: 203px;
  height: 305px;
  left: 84px;
  top: 191px;
}

.table-dark tbody + tbody,
.table-dark td,
.table-dark th,
.table-dark thead th {
  border-color: white !important;
}

.table tbody tr:nth-of-type(even) {
  background-color: #e0e1ea !important;
}

.table tbody tr:nth-of-type(odd) {
  background-color: white !important;
}

.dropdown-toggle::after {
  color: #3b489e;
}

.btn-info {
  color: #fff;
  background-color: #f05a28 !important;
  border-color: #f05a28 !important;
  min-width: 7rem;
  height: 2rem;
  border-radius: 5px;
}

.btn-prev {
  color: white !important;
  background-color: #3b489e !important;
  border-color: #3b489e !important;
  padding-right: 10px;
  min-width: 7rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
}

.btn-nxt {
  color: white !important;
  background-color: #f05a28 !important;
  border-color: #f05a28 !important;
  padding-top: 5px;
  min-width: 7rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
}

.nofocus:focus {
  box-shadow: none !important;
}

.btn-sm.disabled,
.btn-sm:disabled {
  opacity: 0.5 !important;
  cursor: not-allowed;
}

.page-item.active .page-link {
  color: black !important;
  border: 1px solid black !important;
  margin-right: 0.5rem;
}

.table td,
.table th {
  border-top: none !important;
}

.close {
  font-weight: 500 !important;
  opacity: 1 !important;
  color: #f05a28 !important;
  font-size: 3rem !important;
  padding: 0 1rem 0 0 !important;
}

/* .close:hover {
   color: #F05A28 !important;
 } */

.dropdown-menu {
  min-width: 5rem !important;
  font-size: 13px !important;
}

#date-picker-dialog {
  color: #000000 !important;
  padding-left: 0.5rem;
}

.bg-image {
  background-image: url("../../assests/images/Vector1.png");
  background-color: #fff;
  height: 100vh;
  /* background: linear-gradient(rgba(253, 252, 252, 0.966), rgba(248, 246, 246, 0.952)), url("../../assests/images/Vector.png"); */
  background-repeat: no-repeat;
  background-position: right 0% bottom 0%;
  font-family: "Montserrat", "Times New Roman", Times, serif;
}

.underline {
  width: 78%;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 0.5px solid #000000;
}

.box {
  border: 2px solid white;
  background-color: #fd7e14;
}

.bg-box-color {
  background-color: #9da3ce;
  border-radius: 15px;
  height: 32rem !important;
  min-width: 18.75rem;
}

.bg-bef-test {
  background-color: #3b489e;
  border-radius: 15px;
  height: 32rem !important;
  min-width: 18.75rem;
}

.bg-bef-level {
  background-color: #f05a28;
  border-radius: 15px;
  height: 32rem !important;
  min-width: 18.75rem;
}

.bg-bef-noresult {
  background-color: #3b489e;
  border-radius: 10px;
  height: 31rem !important;
  min-width: 18.75rem;
}

.card-body-testCard {
  /* border: 2px solid white; */
  margin-bottom: 0.5rem;
  border-radius: 0.7rem;
  background-color: #ffffff;
}

 .vertical {
   border-left: 1.5px solid #000000;
   width: 10px;
   height: 65px;
   left: 22%;
 }

.verticalline {
  border: 1px solid black;
  min-height: 460px;
  margin-right: 5px;
  border-right: none;
  border-top: none;
  border-bottom: none;
  padding: 15px !important;
}

.tag1 {
  margin: 0;
  color: black;
  font-family: "Montserrat", "Times New Roman", Times, serif;
  font-size: 28px;
  font-weight: 100;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
}

.tag2 {
  font-family: "Montserrat", "Times New Roman", Times, serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  color: black;
}

.test-card {
  margin: auto;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards {
  justify-content: space-evenly;
}

.score-card {
  display: table;
  border: 1px solid;
  padding: 0 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.username {
  font-family: "Baskervville", "Times New Roman", Times, serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 54px;
  text-align: left;
  padding-left: 1rem;
  white-space: nowrap;
}

.score {
  font-size: 26px;
  font-weight: 400;
  line-height: 54px;
  text-align: left;
  padding-left: 1rem;
  color: #3b489e;
}

.mtb-1 {
  margin: 1rem 0;
}

.profile-page {
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width: 250px;
  font-family: "Montserrat", "Times New Roman", Times, serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  background: none;
}

.text-label {
  font-family: "Montserrat", "Times New Roman", Times, serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.input-label {
  font-family: "Montserrat", "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  height: 3.5rem;
}

.competitor-input {
  height: 3rem;
}

.competitor-login {
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.custom-control-label {
  display: initial !important;
  /* padding-top: 0.2rem !important; */
}

.radio {
  font-family: "Montserrat", "Times New Roman", Times, serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.paid-content {
  font-family: "Montserrat", "Times New Roman", Times, serif;
  color: white;
  text-align: center;
}

.paid-taketest {
  background: #3b489e;
  color: white;
  border: none;
  width: 8.8rem;
  height: 2rem;
  font-size: 13px;
  border-radius: 5px;
}
.paid-taketest:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.paid-levels {
  font-family: "Montserrat", "Times New Roman", Times, serif;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
}

.level-title {
  text-align: center;
  margin-bottom: 0.75rem;
  font-family: "Baskervville", sans-serif !important;
  font-size: 28px;
  font-weight: 400;
}

.level-cards {
  max-width: 18.7rem;
  min-height: 31.2rem;
  display: inline-block;
}

.level-info {
  font-family: "Montserrat", "Times New Roman", Times, serif;
  font-weight: 400;
  text-align: center;
}

.level-average {
  position: absolute;
  font-family: "Montserrat", "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

.helper-text {
  color: red;
  font-weight: 500;
  font-size: smaller;
  padding-left: 8px;
  line-height: 0rem;
}

.can-page {
  background: #fff;
  display: flex;
  flex-direction: column;
  background-image: url("../../assests/images/Instruction.png");
  background-repeat: no-repeat;
  background-position: right 4rem bottom 2rem;
}

.can-header {
  margin: 1rem;
  margin-left: -6.688rem !important;
}

.can-instruction {
  font-family: "Baskervville", "Times New Roman", Times, serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: center;
}

.can-section {
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", "Times New Roman", Times, serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

 .section {
  /* border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #3B489E;
  outline: none !important;
  background: none !important;
  font-family: 'Montserrat','Times New Roman', Times, serif !important;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #3B489E;
  min-width: 25.188rem !important; */
  margin-top: 1rem !important;
}

.section:focus {
  outline: none;
  border-bottom: none;
  box-shadow: 0 0 5px rgba(59, 72, 158, 0.5);
}


.instruction-container {
  /* margin-left: 19.688rem !important; */
  width: 37.625rem !important;
  padding: 1rem;
}

.candidate-instruction {
  font-family: "Montserrat", "Times New Roman", Times, serif !important;
  margin-top: 1rem;
  min-width: 37.625rem !important;
  width: 37.625rem !important;
  height: calc(100vh - 35rem) !important;
  font-size: 18px;
  overflow: auto;
  padding: 0;
}

.start-test {
  width: auto;
  height: 44px;
  min-height: 44px;
}

.notify-button {
  height: 32px;
  width: 120px;
  left: 567px;
  top: 368px;
  border-radius: 5px;
  padding: 8px, 20px, 8px, 20px;
}

.helper-candidate {
  margin: 0;
  padding: 0;
  width: 143px !important;
}

.helper-studentLogin {
  margin: 0;
  padding: 0;
  width: 14.938rem !important;
}

.helper-login {
  color: red;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: smaller;
  /* padding-left: 8px; */
}

.candidate-col {
  min-height: 50px;
  height: 55px;
}

.text-input-label {
  font-family: "Montserrat", "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  height: 3.5rem;
}

.al-center {
  text-align: center;
}

.wi-75 {
  max-width: 75% !important;
}

.step-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.step-buttons {
  display: flex;
  justify-content: space-between;
  margin-right: 16.5rem;
  margin-left: 13rem;
  align-items: center;
}

.rotate {
  -webkit-transition: -webkit-transform 1s;
}

.rotate:hover {
  -webkit-transform: rotate(360deg) translateZ(0);
}

.forgot-password {
  height: 4rem;
  margin-top: 0.5rem;
}

.black-label {
  font-size: 16px !important;
  font-family: "Montserrat", "Times New Roman", Times, serif !important;
  margin: 0 2rem;
  padding: 0.7rem;
  border-radius: 8px;
  color: white;
  background-color: #3b489e;
  white-space: nowrap;
}

.black-label > div {
  background-color: #f05a28 !important;
  padding: 0.3rem 0.6rem;
  margin-right: 0.5rem;
  border-radius: 500rem;
  display: inline;
}

.test-package-card {
  margin: 1rem auto;
  width: 25rem;
  font-weight: bold;
  border: 1px solid;
  border-radius: 10px;
  padding: 1rem 0;
}

.test-package-card > div > div {
  font-size: 1.2rem;
  font-style: oblique;
}

.offer-card-content {
  width: auto;
  font-size: 1.2rem;
  font-weight: 300;
  text-indent: 1rem;
}

.company-card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.important-note {
  color: #db2828;
  width: 100%;
  border: 1px solid;
  padding: 1rem;
  background-color: #fff6f6;
  border-radius: 15px;
  box-shadow: 1px 1px #db2828;
}

.comment-box {
  min-height: 4rem;
  max-height: 4rem;
  width: inherit;
  border-radius: 20px;
  padding: 0.5rem 1rem;
}

.query-table {
  border-collapse: collapse;
  width: 50%;
}

.query-table td,
.query-table th {
  border: 1px solid #545353;
  padding: 2px;
  text-align: left;
}
.report {
  width: 13rem !important;
}

.scrolling-text {
  white-space: nowrap;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.even-row {
  background-color: #e0e1ea !important;
}
.odd-row {
  background-color: white !important;
}

table td {
  padding: 0.45rem !important;
  vertical-align: middle !important;
  border-top: 1px solid white;
  padding-left: 5px !important;
}

.dash-text {
  font-family: "Montserrat", "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.94px;
  color: black;
  margin-top: 10px;
}
.dash-text {
  font-family: "Montserrat", "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.94px;
  color: black;
  margin-top: 10px;
}

.dash-img {
  color: black;
  display: flex;
  margin-top: 2rem;
}

.foot-text {
  font-family: "Montserrat", "Courier New", Courier, monospace;
  font-weight: 300;
  font-size: 18px;
  line-height: 21.94px;
  color: black;
}

.vertical-line {
  border: 1px solid;
  min-height: 1rem;
  margin-right: 8px;
  margin-left: 8px;
  border-right: none;
  border-top: none;
  border-bottom: none;
}

.dash-head {
  font-family: "Baskervville";
  font-weight: 400;
  font-size: 42px;
  line-height: 54.31px;
  margin-left: 1.5rem;
}
.home {
  height: 180px;
  width: 150px;
  margin: auto;
  margin-top: 1.875rem;
  position: relative;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
}

.ml-1{
  margin-left: 1rem !important;
}
.time-text {
  font-weight: 400;
  font-size: 28px;
  color: #F05A28;
}