.language {
    display: inline;
    width: 150px;
  }
  
  .heading {
    font-size: 20px;
  }
  
  #source {
    background: #cccccc52;
    font-size: 15px;
    resize: vertical;
    font-family: monospace !important;
  }
  
  #input {
    background: #cccccc52;
    width: 45.6%;
    height: 17vh;
    resize: vertical;
    font-size: 17px;
  }
  
  #output {
    background: #cccccc52;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 7.6%;
    font-size: 18px;
    right: 0;
    resize: none;
    overflow-y: auto;
  }
  
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    /* top: 60px; */
    background-color: white;
    padding-left: 20px;
  }
  
  .right {
    right: 0;
    /* top: 60px; */
    background-color: black;
    padding-left: 10px;
  }
  
  .row-f {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 45px; */
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .ace_editor,
  .ace_editor div * {
    font-family: Menlo, Consolas, "DejaVu Sans Mono", Courier, monospace;
  }
  
  .ace_editor {
    font-family: Menlo, Consolas, "DejaVu Sans Mono", Courier, monospace;
    line-height: 1.5;
  }
  
  .result {
    margin-top: 10px;
    width: 95%;
    padding-left: 10px;
    background-color: black;
  }
  
  .fixed-button {
    position: fixed;
    bottom: 10px;
    right: 54%;
  }
  
  /* .instruction .div *{
    font-family:monospace !important;
  } */